@charset "UTF-8";

$base-color: #ffffff;
$main-color1: #28385E;
$main-color2: #516C8D;
$accent-color1: #6A91C1;
$accent-color2: #CCCCCC;

html {
  font-size: 62.5%;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
