@charset "UTF-8";

$base-color: #ffffff;
$main-color1: #28385E;
$main-color2: #516C8D;
$accent-color1: #6A91C1;
$accent-color2: #CCCCCC;

html {
  font-size: 62.5%;
}
body {
  color: $main-color1;
  font-family: 'Noto Serif JP', serif, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
h1 {
  font-size: 6.4rem;
  letter-spacing: 1px;
}
h2 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}
h3 {
  font-size: 2.4rem;
  letter-spacing: 1px;
}
p, div{
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 2.4rem;
}

@media screen and (max-width:560px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 3.2rem;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 2.4rem;
    letter-spacing: 1px;
  }
  p, div{
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
  }
}
